@tailwind base;
@tailwind components;
@tailwind utilities;



html::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

html::-webkit-scrollbar{
    width: 10px;
	background-color: #F5F5F5;
   
}

html::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to bottom,#D4145A,#FBB03B);
    border: 1px solid gray;
    border-radius: 10px;

}

.container{
    
    display: grid;
    grid-template-rows: auto 1fr auto;
}