@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

html::-webkit-scrollbar{
    width: 10px;
	background-color: #F5F5F5;
   
}

html::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to bottom,#D4145A,#FBB03B);
    border: 1px solid gray;
    border-radius: 10px;

}

body{
  padding-top: 4rem;
}
.container{
    
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.skeleton::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(
      to right,
      #f6f7f8 0%,
      #edeef1 20%,
      #f6f7f8 40%,
      #f6f7f8 100%
    );
  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    animation-name: shimmer;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }